<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/create3000/cobweb/master/stable/2/2.4/cobweb.css"/>
      <script type="text/javascript" src="https://cdn.rawgit.com/create3000/cobweb/master/stable/2/2.4/cobweb.min.js"></script>
   <style>
X3DCanvas {
   width: 768px;
   height: 432px;
}
   </style>
   </head>
   <body>
      <X3DCanvas src="t85.wrl">
         <p>Your browser may not support all features required by Cobweb!</p>
      </X3DCanvas>
   </body>
</html>